<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing claim request type</h1>

  <%= render "form", claim_request_type: @claim_request_type %>

  <%= link_to "Show this claim request type", @claim_request_type, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to claim request types", claim_request_types_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
