<h1>Dear <%= @user.name %>,</h1>

<p>This is a friendly reminder that your contributions are due before the 7th of this month. Please submit your contributions in time to avoid any penalties.</p>

<p>Thank you for your attention!</p>

<p>Best regards,</p>
<p>LSPU Admin</p>