<% if action_name == 'index' || action_name == 'show' %>
  <%= number_to_currency(field.data, unit: "₱") %>
<% elsif action_name == 'edit' %>
  <div class="field-unit">
    <%= f.label field.attribute %>
    <%= f.text_field field.attribute, value: field.data, disabled: true %>
  </div>
<% end %>
