<h1>Hello, <%= @user.name %>!</h1>

<p>Your <%= @claim_request.type %> has been approved!</p>

<p>You can now claim your request at the Dean's Office of the College of Computer Studies.</p>

<p>If you didn't request this, please ignore this email.</p>

