<div class="flex justify-center align-center mt-12">
  <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
    <div class="px-6 py-4">
      <div class=" mb-2 text-gray-500">Total Contributions</div>
      <p class="text-gray-700 text-base font-bold text-xl">
        <%= number_to_currency(@total_contributions, unit: "₱") %>
      </p>
    </div>
  </div>
</div>