<% if action_name == 'index' || action_name == 'show' %>
  <%= field.data.name %>
<% elsif controller.action_name == 'edit' %>
  <div class="field-unit">
    <%= f.label field.attribute %>
    <%= 
          f.text_field field.attribute, value: field.data.name, disabled: true
    %>
  </div>
<% end %>
